$font-stack:    Helvetica, sans-serif;
$primary-color: #121526;
$secondary-color:#eee;
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body{
    background-color: $primary-color;

  }
#main{
    padding:10%;
    background-color: $primary-color;
    
}
.container {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

#quote-box {
    height: auto;
    width: 80%; 
    border: solid;
}
#author{
    padding-left: 70%;
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
    padding-bottom: 5%;
    font-display: fallback
}


#text{
    margin: 5%;
    font-family: 'Alfa Slab One', cursive;
    font-size: 3vw;
}

#tweet-quote{
    height: 4vw;
    min-height: 30px;
    width: 10vw;
    min-width: 80px;
    text-align: center;
    vertical-align: center;
    margin-top: 5%;

}

#new-quote{
    height: 4vw;
    min-height: 30px;
    width: 10vw;
    min-width: 80px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 5%;

}

.fa-twitter{
    font-size: 5vw;
}